/Vehicle/nbproject/private/
/StoreManagement/nbproject/private/
/Vehicle/build/
/Vehicle/dist/
/Mytools/dist/
/Mytools/build/
/Javatopic/nbproject/private/
/Javatopic/build/
/StoreManagement/build/
/StoreManagement/dist/
/Accountants/nbproject/private/
/Accountants/build/
/Accountants/dist/
/SaleManagement/nbproject/private/
/SaleManagement/build/
/SaleManagement/dist/
